html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}



<!-- menu for porfolio -->
body {
  margin:0;
}

.topnav {
  overflow: hidden;
   background-color: #4CAF50;  <!-- green -->

}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;  <!-- off white -->
  text-align: center;
  padding: 10px 10px 15px 10px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
 background-color: #292775; <!-- grey -->
 color: #ddd;
}

.active {
 background-color: #292775;  <!-- green -->
  color: white;

}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}
